@charset "utf-8";
/* CSS Document */

body {
	font-family: Segoe UI;
}

#h1 {
	font-family: Segoe UI;
	font-size: 44px;
	color: #0066FF;
	margin: 20px 0 0 50px;
	padding: 0px;
}

#hr {
	width: 85%;
	padding: 0px;
	margin: 0 0 0 50px;
	background-color: #0066FF;
}

.categorie-row img {
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0px;
	padding: 0px;
}

.categorie-row:nth-of-type(odd) {
	background-color: #F0F6FF;
}

.categorie-row:nth-of-type(even) {
	background-color: white;
}

.categorie-row {
	width: 85%;
	height: 120px;
	color: #0066FF;
	font-size: 26px;
	font-weight: bold;
	margin: 0 auto;
	padding: 0 ;
}


.img-td {
	height: 120px;
	width: 10%;
	float: left;
	text-align: center;
	padding: 10px 0 0 0;
}

.tekst-td {
	height: 120px;
	width: 70%;
	float: left;
	padding: 10px 0 0 0;
}

.prijs-td {
	height: 120px;
	width: 10%;
	float: left;
	text-align: center;
	padding: 40px 0 0 0;
}

.button-td {
	height: 120px;
	width: 10%;
	float: left;
	text-align: center;
	padding: 35px 0 0 0;
}

.categorie-row p {
	font-weight: normal;
	color: #969696;
	font-size: 20px;
}



@media screen and (max-width: 520px) {
	#h1 {
		font-size: 35px;
	}
	
	#hr {
		width: 75%;
		text-align: center;
	}
	
	.img-td {
		
		float: left;
	}

	.tekst-td {
		float: left;
	}
	
	.prijs-td {
		float: left;
	}
	
	.button-td {
		float: left;
	}
}

