@charset "utf-8";
/* CSS Document */

/*Main*/
body{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI";
	color: #0066FF;
}
.btn-primary {
	background-color: #0066FF;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.btn-primary:hover {background-color: #0052cc;}
#main {min-height: 54vh;}
.row {margin: 0!important;}

/*Navbar / header*/
#header {border-bottom: 1.5px solid #e6e6e6;}
#upperNavbar {
	color: white;
	background-color: #F9FCFF;
	height: 45px;
	line-height: 5vh;
	display: none;
}
#buttonWrapper {float: right; margin-right: 1%;}
#upperNavbar .btn {
	font-style: italic;
	font-weight: bold;
	padding: .2rem .75rem;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
#upperNavbar a {
	color: white;
	text-decoration: none;
}

#lowerNavbar {
	height: 60px;
}
#lowerNavbar img {
	height: 60%;
	margin: 3% 2%;
}
#lowerNavbarWrapper {
	float: right;
	margin-right: 3%;
}
#lowerNavbar form, #lowerNavbar #cart {display: none; float: left;}
#cart i {
	line-height: 65px;
	font-size: 250%;
	margin-left: 40%;
}
#lowerNavbar form {
	margin: 4.2% 0 0 0;
}

#mobileToggler {
	line-height: 60px;
	font-size: 200%;
	color: #0066FF;
	cursor: pointer;
}
#mobileNavbar {
	width: 100%;
	transition: height 0.3s;
	-webkit-transition: 0.3s;
/*	padding: 2% 0;*/
	display: none;
}
#mobileNavbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size: 30px;
}
#mobileNavbar li {width: 100%; cursor: pointer;}
#mobileNavbar a {
	display: block;
	width: 100%;
	padding: 1.5% 0;
	text-decoration: none;
	color: #0066FF;
}
#mobileNavbar #navLogin, #mobileNavbar #navRegister, #mobileNavbar #navAccount {
	min-width: 47%;
}
#mobileNavbar .btn-primary {
	color: white;
	cursor: pointer;
}
#mobileNavbar #navAccount {width: 90%; margin-left: 5%;}
#mobileNavbar #navLogin {margin-left: 2%;}
#mobileNavbar form {margin: 7.5% 0 5% 7.5%;}
#mobileNavbar input[type=search] {width: 70%; margin-right: 1%;}
.mobileDropdown {
	background-color: #e6e6e6;
	padding: 3% 0!important;
	margin: 2% 0 0!important;
	display: none;
}
.mobileDropdown a {
	font-size: 17px;
}
.dropdownToggler:hover .mobileDropdown {
	display: block;
}

/* Banner */
#banner {
	background-image: url("images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
}

#perfectBike {
	margin: 25px;
	height: 85%;
	width: 48%;
	background-color: #FFFFFF;
	border-radius: 67px;
	position: absolute;
	top: 0;
	float: left;
	border: 1px solid #0066FF;
}

#perfectBike fieldset {
	border: 1px solid #0066FF;
	margin: 25px;
	width: 93%;
	border-radius: 67px;
	display: grid;
	padding: 7% 4%;
}

#perfectBike legend {
    margin: 0 0 0 40px;
    padding: 0 2%;
    width: 40%;
    color: #0066FF;
}
#perfectBike table {
	margin: 0 auto;
	width: 90%;
}
#perfectBike td {width: 50%; padding-right: 2%;}
#perfectBike td select {
	padding: 4% 2%;
	margin: 0 0 10% 1%;
	font-size: 20px;
	height: auto;
}
#perfectBike input[type=submit] {
	width: 100%;
	background-color: #0066FF;
	color: white;
	border: none;
	height: 6vh;
	border-radius: 10px;
	font-weight: bold;
	font-size: 3vh;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
#perfectBike input[type=submit]:hover {background-color: #0052cc;}

/* Homepage content*/
#homepageContent {margin: 1% 0!important;}
.row h1 {
	font-size: 30px;
	font-weight: bold;
	color: #0066FF;
}
#homepageBikesWrapper {width: 100%;}
.homepageBike {
	width: 30%;
/*	border: 1px solid #707070;*/
	height: 43vh;
	display: inline-block;
	padding: 2vh 1%;
	background-color: #f2f2f2;
}
.homepageBike img {
	max-width: 80%;
	max-height: 80%;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	border: 1px solid #707070;
}
.homepageBike p {
	color: #0066FF;
	font-weight: bold;
	text-align: center;
	font-size: 1.7em;
	margin: 5%;
}
.homepageBike h4 {
	float: left;
}
.homepageBikeOriginalPrice {text-decoration: line-through;}
.homepageBikeActionPrice {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
}
.homepageBike a {
	background-color: #0066FF;
	color: white;
	font-weight: bold;
	font-size: 1.7em;
	padding: 1.5% 3%;
	position: relative;
	right: 1%;
}

/*Footer*/
#upperFooter {
	background-color: #0047B3;
	padding: 1% 2%;
	color: white;
	height: auto;
}
.verticalLine {
	background-color: #4d94ff;
	width: 1px;
	height: inherit;
	display: none;
}
#upperFooter h2 {
	font-size: 1.5em;
	font-weight: bold;
}
#upperFooter ul {
	margin: 0;
	list-style: none;
	padding-left: 5%;
}
#upperFooter a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
#upperFooter a:hover {color: #99c2ff;}
#upperFooter form {
	margin-left: 5%;
}
#upperFooter input[type=email] {
	width: 80%;
	border-radius: 0px;
}
#upperFooter .btn {
	color: white;
	background-color: #FF7D00;
	border-radius: 0;
	margin-top: 2%;
}


#lowerFooter {
	background-color: #0066FF;
	text-align: center;
	color: white;
	padding: 0.7% 0;
}


/*Media query's*/
@media screen and (max-width: 600px) {
	#upperFooter .col {
		min-width: 50%;
	}
}

@media screen and (min-width: 601px) {
	#upperFooter .verticalLine {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	#mobileToggler, #mobileNavbar {display: none;}
	#lowerNavbar form, #lowerNavbar #cart {display: block;}
	#upperNavbar {display: block;}
	#lowerNavbar img {height: 70%; margin: 0.75% 1%;}
	#lowerNavbar {height: 65px;}
}