body {
		margin: 0;
		padding: 0;
	}
	:root {
		--web-view-ids: Resultaten;
	}
	#Resultaten * {
		margin: 0;
		padding: 0;
	}
	#Resultaten {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 1920px;
		height: 1725px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 1;
		--web-view-name: Resultaten;
		--web-view-id: Resultaten;
		--web-enable-deep-linking: true;
	}
	#Zoekresultaten {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 888px;
		left: 125px;
		top: 419px;
		overflow: visible;
	}
	#Zoekresultaat__b_ {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_23 {
		opacity: 1;
		fill: rgba(240,246,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23 {
		position: absolute;
		overflow: visible;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24 {
		position: absolute;
		overflow: visible;
		width: 113px;
		height: 106px;
		left: 34px;
		top: 21px;
	}
	#Line_12 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.73px;
	}
	#Line_13 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.73px;
	}
	#Lorem_ipsum_dolor_si_di_amet {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 22px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 506px;
		height: 52px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,102,255,1);
	}
	#Arnhem__GE {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 74px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 446px;
		height: 35px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(150,150,150,1);
	}
	#_123_45 {
		opacity: 1;
		position: absolute;
		left: 1301px;
		top: 38px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 185px;
		height: 71px;
		text-align: right;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(0,102,255,1);
	}
	#Rectangle_26 {
		opacity: 1;
		fill: rgba(0,102,255,1);
	}
	.Rectangle_26 {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 57px;
		left: 1522px;
		top: 45px;
	}
	#Bekijk {
		opacity: 1;
		position: absolute;
		left: 1532px;
		top: 53px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 140px;
		height: 37px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
	}
	#Zoekresultaat__w_ {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 148px;
		overflow: visible;
	}
	#Rectangle_23_A3_Rectangle_4 {
		opacity: 1;
		fill: rgba(255,255,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_A3_Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_A3_Rectangle_5 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_A3_Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 113px;
		height: 106px;
		left: 34px;
		top: 21px;
	}
	#Line_12_A3_Line_3 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12_A3_Line_3 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Line_13_A3_Line_4 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13_A3_Line_4 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Lorem_ipsum_dolor_si_di_amet_A3_Text_5 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 22px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 506px;
		height: 52px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,102,255,1);
	}
	#Arnhem__GE_A3_Text_6 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 74px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 446px;
		height: 35px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(150,150,150,1);
	}
	#_123_45_A3_Text_7 {
		opacity: 1;
		position: absolute;
		left: 1301px;
		top: 38px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 185px;
		height: 71px;
		text-align: right;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(0,102,255,1);
	}
	#Rectangle_26_A3_Rectangle_6 {
		opacity: 1;
		fill: rgba(0,102,255,1);
	}
	.Rectangle_26_A3_Rectangle_6 {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 57px;
		left: 1522px;
		top: 45px;
	}
	#Bekijk_A3_Text_8 {
		opacity: 1;
		position: absolute;
		left: 1532px;
		top: 53px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 140px;
		height: 37px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
	}
	#Zoekresultaat__b__A3_Group_4 {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 296px;
		overflow: visible;
	}
	#Rectangle_23_A3_Rectangle_7 {
		opacity: 1;
		fill: rgba(240,246,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_A3_Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_A3_Rectangle_8 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_A3_Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 113px;
		height: 106px;
		left: 34px;
		top: 21px;
	}
	#Line_12_A3_Line_5 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12_A3_Line_5 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Line_13_A3_Line_6 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13_A3_Line_6 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Lorem_ipsum_dolor_si_di_amet_A3_Text_9 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 22px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 506px;
		height: 52px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,102,255,1);
	}
	#Arnhem__GE_A3_Text_10 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 74px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 446px;
		height: 35px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(150,150,150,1);
	}
	#_123_45_A3_Text_11 {
		opacity: 1;
		position: absolute;
		left: 1301px;
		top: 38px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 185px;
		height: 71px;
		text-align: right;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(0,102,255,1);
	}
	#Rectangle_26_A3_Rectangle_9 {
		opacity: 1;
		fill: rgba(0,102,255,1);
	}
	.Rectangle_26_A3_Rectangle_9 {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 57px;
		left: 1522px;
		top: 45px;
	}
	#Bekijk_A3_Text_12 {
		opacity: 1;
		position: absolute;
		left: 1532px;
		top: 53px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 140px;
		height: 37px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
	}
	#Zoekresultaat__w__A3_Group_5 {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 444px;
		overflow: visible;
	}
	#Rectangle_23_A3_Rectangle_10 {
		opacity: 1;
		fill: rgba(255,255,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_A3_Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_A3_Rectangle_11 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_A3_Rectangle_11 {
		position: absolute;
		overflow: visible;
		width: 113px;
		height: 106px;
		left: 34px;
		top: 21px;
	}
	#Line_12_A3_Line_7 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12_A3_Line_7 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Line_13_A3_Line_8 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13_A3_Line_8 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Lorem_ipsum_dolor_si_di_amet_A3_Text_13 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 22px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 506px;
		height: 52px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,102,255,1);
	}
	#Arnhem__GE_A3_Text_14 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 74px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 446px;
		height: 35px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(150,150,150,1);
	}
	#_123_45_A3_Text_15 {
		opacity: 1;
		position: absolute;
		left: 1301px;
		top: 38px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 185px;
		height: 71px;
		text-align: right;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(0,102,255,1);
	}
	#Rectangle_26_A3_Rectangle_12 {
		opacity: 1;
		fill: rgba(0,102,255,1);
	}
	.Rectangle_26_A3_Rectangle_12 {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 57px;
		left: 1522px;
		top: 45px;
	}
	#Bekijk_A3_Text_16 {
		opacity: 1;
		position: absolute;
		left: 1532px;
		top: 53px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 140px;
		height: 37px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
	}
	#Zoekresultaat__b__A3_Group_6 {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 592px;
		overflow: visible;
	}
	#Rectangle_23_A3_Rectangle_13 {
		opacity: 1;
		fill: rgba(240,246,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_A3_Rectangle_13 {
		position: absolute;
		overflow: visible;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_A3_Rectangle_14 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_A3_Rectangle_14 {
		position: absolute;
		overflow: visible;
		width: 113px;
		height: 106px;
		left: 34px;
		top: 21px;
	}
	#Line_12_A3_Line_9 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12_A3_Line_9 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Line_13_A3_Line_10 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13_A3_Line_10 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Lorem_ipsum_dolor_si_di_amet_A3_Text_17 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 22px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 506px;
		height: 52px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,102,255,1);
	}
	#Arnhem__GE_A3_Text_18 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 74px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 446px;
		height: 35px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(150,150,150,1);
	}
	#_123_45_A3_Text_19 {
		opacity: 1;
		position: absolute;
		left: 1301px;
		top: 38px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 185px;
		height: 71px;
		text-align: right;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(0,102,255,1);
	}
	#Rectangle_26_A3_Rectangle_15 {
		opacity: 1;
		fill: rgba(0,102,255,1);
	}
	.Rectangle_26_A3_Rectangle_15 {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 57px;
		left: 1522px;
		top: 45px;
	}
	#Bekijk_A3_Text_20 {
		opacity: 1;
		position: absolute;
		left: 1532px;
		top: 53px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 140px;
		height: 37px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
	}
	#Zoekresultaat__w__A3_Group_7 {
		opacity: 1;
		position: absolute;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 740px;
		overflow: visible;
	}
	#Rectangle_23_A3_Rectangle_16 {
		opacity: 1;
		fill: rgba(255,255,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_A3_Rectangle_16 {
		position: absolute;
		overflow: visible;
		width: 1718px;
		height: 148px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_A3_Rectangle_17 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_A3_Rectangle_17 {
		position: absolute;
		overflow: visible;
		width: 113px;
		height: 106px;
		left: 34px;
		top: 21px;
	}
	#Line_12_A3_Line_11 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12_A3_Line_11 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Line_13_A3_Line_12 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13_A3_Line_12 {
		overflow: visible;
		position: absolute;
		top: 21.5px;
		left: 34.5px;
		width: 112.684px;
		height: 105.729px;
	}
	#Lorem_ipsum_dolor_si_di_amet_A3_Text_21 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 22px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 506px;
		height: 52px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,102,255,1);
	}
	#Arnhem__GE_A3_Text_22 {
		opacity: 1;
		position: absolute;
		left: 169px;
		top: 74px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 446px;
		height: 35px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(150,150,150,1);
	}
	#_123_45_A3_Text_23 {
		opacity: 1;
		position: absolute;
		left: 1301px;
		top: 38px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 185px;
		height: 71px;
		text-align: right;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(0,102,255,1);
	}
	#Rectangle_26_A3_Rectangle_18 {
		opacity: 1;
		fill: rgba(0,102,255,1);
	}
	.Rectangle_26_A3_Rectangle_18 {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 57px;
		left: 1522px;
		top: 45px;
	}
	#Bekijk_A3_Text_24 {
		opacity: 1;
		position: absolute;
		left: 1532px;
		top: 53px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 140px;
		height: 37px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
	}
	#Line_10 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 102, 255);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		top: 284.5px;
		left: 64.5px;
		width: 1296.006px;
		height: 6px;
	}
	#DIT_IS_EEN_CATEGORIE {
		opacity: 1;
		position: absolute;
		left: 64px;
		top: 202px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 797px;
		height: 86px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		color: rgba(0,102,255,1);
	}